.download-with{
    display: flex;
    gap: 24px;
}

.download{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-app{
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 7px;
}

.download{
    border-radius: 16px;
background: #796EFF;
padding: 64px 80px;
margin-top: 100px;
margin-bottom: 100px;
}

.download-text h2{
    color: #fff ;
}

@media (max-width : 568px){
    .download{
        flex-direction: column;
        padding: 32px 35px;
        gap: 32px;
        border-radius: 0 0 0 0
    }

    .download-with{
        flex-direction: column;
        gap: 25px;
    }
}