.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    padding: 50px 20px;      
}

.nav-links ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 0;
}

.nav-login {
    display: flex;
    gap: 16px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-login :nth-child(2) {
    padding: 16px 23px;
    border-radius: 4px;
    background: #ECE5FF;
}

.burger input,
.burger label {
    display: none;
}


.btn:hover{
    background: #c9c0e4;
}


@media (max-width : 568px) {
    .burger label {
        display: inline;
    }

    .nav-links ul,
    .nav-login {
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        display: none;
    }

    .nav-login :nth-child(2) {
        padding: 10px;
        border-radius: 4px;
        background: none;

    }
.nav-login {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}





}
